* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    background-color: darkslategray;
}


h1 {
    text-align: center;
    /* background-color: pink; */
}

.container {
    /* border: 2px solid red; */
    max-width: 1110px;
    margin: 2rem auto;
    /* background-color: yellow; */
}

.nav-item {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
}

.home {
    display: flex;

    gap: 2rem;
    padding: 2rem 0;
    justify-content: space-around;
    position: relative;
}

.image {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: auto;
    padding: 10px 10px;

}

.griditem {
    /* border: 2px solid green; */
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}

.griditem img {
    aspect-ratio: 1/1.3;
    object-fit: contain;
    width: 100%;
    height: auto;
    object-position: center;
}

.pagination {
    /* background-color: green; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -30px;
}


.advertisement {
    width: 150px;
    padding: 1rem 10px;
}

.lp {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.lp a {
    color: white;
    font-weight: bold;
}



@media (max-width: 1000px) {
    .griditem img {
        height: 200px;
    }

    .home {
        flex-direction: column;
    }

    .advertisement {
        text-align: center;
        /* border: 2px solid red; */
        width: 100%;
    }
}

hr {

    width: 85%;
    height: 2px;
    background-color: rgb(209, 3, 38);
    border-width: 4px;
    border-color: rgb(241, 199, 9);
    margin: 14px 10px 10px 47px;

}

.intro {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    color: black;
}

.intro img {
    /* border: 2 px solid yellow; */
    height: 50%;
    width: 60%;
    object-fit: contain;
}

.intro h3 {
    padding: 10px;
    color: black;
}

.intro p {
    margin: 10px;
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    row-gap: 25px;
}
.art1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: 40%;
}
.art2{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
}
.hr1{
    background-color: red;
    width: 139%;
    height: 1px;
    border-width: revert;
    margin: 5%;

}
.bgpost{
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.bg1{
    display: flex;
    width: 150%;
    margin: 2%;
    /* height: 20%; */
}
.bgpost div{
    gap: 5%;
}
.bg1 img{
    width: 61%;
    height: 10%;
}
.bg1 p{
    font-size: 63%;
}
.art3{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 30%;
    height: 40%;
}
.btn{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 2%;
}
button{
    color: white;
    background-color: rgb(100, 94, 94);
    border-radius: 14%;
}
@media (max-width: 450px){
    .footer {
        flex-direction: column;
        
    }

    .art3 {
        text-align: center;
        /* border: 2px solid red; */
        width: 100%;
    }
}
